.navbar{
    height: 5px;
    background-color:#ffcc00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
 
}
.logo{
font-style: italic;
font-size: 29px;
color: rgb(250, 253, 255);
justify-content: center;
align-items: center;
}

.navbar ul{
    display: inline-flex;
    gap: 15px; 
}
.navbar ul li{
    
    list-style-type: none;
    
}
.navbar li:hover{
    transform: scale(1.25);
}
.navbar ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px;
}